.shippingContainer {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: grey;
}

.shippingBox {
    background-color: black;
    width: 25vw;
    height: 80vh;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}

.shippingHeading {
    text-align: center;
    color: white;
    font: 400 1.3vmax 'Poiret One', cursive;
    padding: 1.3vmax;
    width: 50%;
    margin: auto;
}

.shippingForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 2vmax;
    justify-content: space-evenly;
    height: 80%;
    transition: all 0.5s;
}

.shippingForm>div {
    display: flex;
    width: 100%;
    align-items: center;
    margin: 2px;
}

.shippingForm>div>input {
    padding: 1vmax 2vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.267);
    border-radius: 5px;
    font: 1.2vmax "Edu SA Beginner";
    outline: none;
}

.shippingForm>div>svg {
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color: rgba(0, 0, 0, 0.623);
}

.shippingBtn {
    border: none;
    background-color: gold;
    color: black;
    font: 500 1.7vmax;
    width: 100%;
    padding: 1vmax;
    cursor: pointer;
    transition: all 0.5s;
    outline: none;
    margin: 2vmax;
    border-radius: 4px;
}


@media screen and (max-width: 600px) {


    .shippingBox {
        width: 90vw;
        height: 80vh;
    }


    .shippingForm {
        padding: 3vmax;
    }

    .shippingForm>div>input {
        padding: 2.5vmax 5vmax;
        font: 300 1.7vmax "Edu SA Beginner";
    }

    .shippingForm>div>svg {
        font-size: 6vw;
        transform: translateX(3vw);
    }

    .shippingBtn {
        font: 300 1.9vmax 'Poiret One', cursive;
        padding: 1.8vmax;
    }
}