.updateProfileContainer {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  position: relative;
  top: 0%;
  left: 0;
}

.updateProfileBox {
  background-color: black;
  width: 25vw;
  height: 70vh;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
}

.updateProfileHeading {
  text-align: center;
  color: white;
  font: 400 1.3vmax 'Poiret One', cursive;
  padding: 1.3vmax;
  width: 50%;
  margin: auto;
}


.updateProfileForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 2vmax;
  justify-content: space-evenly;
  height: 70%;
  transition: all 0.5s;
}

.updateProfileForm>div {
  display: flex;
  width: 100%;
  align-items: center;
}

.updateProfileForm>div>input {
  padding: 1vmax 2vmax;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 5px;
  outline: none;
  font: 1.2vmax "Edu SA Beginner";
}

.updateProfileForm>div>svg {
  position: absolute;
  transform: translateX(1vmax);
  font-size: 1.6vmax;
  color: rgba(0, 0, 0, 0.623);
}

#updateProfileImage>div {
  width: 3vmax;
  height: 3vmax;
  display: flex;
  justify-content: center;
  align-items: center;
}

#updateProfileImage>div>img {
  width: 3vmax;
  height: 3vmax;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid white;
}


#updateProfileImage>input {
  margin-left: 1vmax;
  display: flex;
  padding: 0%;
  width: 17vmax;
}

#updateProfileImage>input::file-selector-button {
  cursor: pointer;
  width: 100%;
  z-index: 2;
  height: 5vh;
  border: none;
  margin: 0%;
  font: 400 1vmax 'Poiret One', cursive;
  transition: all 0.5s;
  padding: 0 1vmax;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

#updateProfileImage>input::file-selector-button:hover {
  background-color: grey;
  color: white;
}


.updateProfileBtn {
  border: none;
  background-color: gold;
  color: black;
  font: 500 1.7vmax;
  width: 100%;
  padding: 0.8vmax;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
}

@media screen and (max-width: 600px) {

  .updateProfileBox {
    width: 90vw;
    height: 95vh;
  }

  .updateProfileBox > h2 {
    font-size: 2vmax;
  }

  .updateProfileForm {
    padding: 3vmax;
  }

  .updateProfileForm>div>input {
    padding: 2.5vmax 5vmax;
    font: 300 1.7vmax "Edu SA Beginner";
  }

  .updateProfileForm>div>svg {
    font-size: 2.8vmax;
  }


  #updateProfileImage>img {
    width: 8vmax;
    border-radius: 100%;
  }

  #updateProfileImage>input::file-selector-button {
    height: 7vh;
    font: 400 1.8vmax 'Poiret One', cursive;
  }

  .updateProfileBtn {
    font: 300 1.9vmax 'Poiret One', cursive;
    padding: 1.8vmax;
  }
}